<mat-card id="card-task">
  <div id="titulo" style="text-align: center;">
    <h2>{{ 'Atividade - ' + id }}</h2>
  </div>
  <form *ngIf="formCreateTask" class="form-content" [formGroup]="formCreateTask">
    <mat-form-field appearance="outline" class="inputForm">
      <mat-label>Titulo</mat-label>
      <input  ng-disabled="isFormUpload" matInput formControlName="title" placeholder="Digite o título" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data de entrega</mat-label>
      <input type="date" matInput formControlName="date" placeholder="Informe uma data" min="2021-11-23">
      
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea id="textarea" matInput formControlName="description" placeholder="Digite uma descrição"></textarea>
    </mat-form-field>
    <mat-checkbox class="input" formControlName="done" [disabled]="true">Concluída</mat-checkbox>
  </form>
</mat-card>
